---
import SidebarLayout from '../layouts/SidebarLayout.astro';

const posts = await Astro.glob('./posts/*.md');
const projects = await Astro.glob('./projects/*.md');
---

<SidebarLayout title="Jan Milacek">
  <section class="about">
    <h2><span class="icon">👤</span> About me</h2>
    <p>I love exploring new technologies and using them to create real business impact. I enjoy working with data, digging into the details to find useful insights, and being involved in every step of data projects—from analysis to operations.</p>
    
    <h2>My skills</h2>  

    <h3>Business Strategy & Analysis</h3>  
    <p>I turn data into clear insights to spot trends, improve operations, and guide business choices. I focus on making complex data easy to understand so teams can take action.</p> 

    <h3>Data Solutions</h3>  
    <p>I use Python, SQL, and Power BI to create data systems and analytics that help businesses make decisions. I handle everything from building data pipelines to designing reports and dashboards.</p>   
  
    <h3>Security & Compliance</h3>  
    <p>I prioritize keeping data safe and follow strict security rules to protect systems and ensure everything meets legal standards.</p>  
  
    <h3>Microsoft 365</h3>  
    <p>I’ve set up Microsoft 365 solutions to boost teamwork and efficiency, like streamlining workflows and improving office productivity.</p>  

    <h3>Microsoft Azure</h3>  
    <p>I’ve helped design and build secure, scalable cloud setups on Azure, making sure they work smoothly with local infrastructures and perform reliably.</p>  

  </section>

  
</SidebarLayout>

<style>
  section {
    margin: 2rem 0;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
  }

  .post-item, .project-item, .experience-item {
    margin: 1.5rem 0;
  }

  .post-title, .project-title {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 0.5rem;
  }

  .post-date, .project-date {
    font-size: 0.8rem;
    color: #666;
  }

  .experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .date {
    color: #666;
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1.5rem;
    margin: 2rem 0 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  h3 {
    margin-bottom: 8px; /* Default is usually 16px */
  }

  p {
      margin-top: 4px; /* Default is usually 16px */
    }
  .icon {
    font-size: 1.2rem;
  }
</style>